@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <p>
        On May 3rd 2017, Barclays Bank PLC has transferred its entire shareholding in Barclays Bank Egypt S.A.E. to Attijariwafa bank group. On November 3rd 2017, the bank has been registered as Attijariwafa bank Egypt S.A.E. and is currently operating under the new trademark and logo.

        Attijariwafa bank is a leading banking and financial Group in North, Western and Central Africa. In addition to its banking activity, the Group provides a wide range of financial services through several subsidiaries: insurance, mortgage, consumer credit, fast transfers, leasing, factoring, stock brokerage, asset management, M&A and market advisory, etc.

        Headquartered in Morocco, the bank operates in 26 countries with 4,930 branches (result at 31 December 2018) with more than  20,590 employees and a portfolio of approximately 10800000 clients.

        The bank operates through a network of 63 branches and more than 100 ATMs covering key cities in Egypt. Its highly professional and skilled 1,445 employees proudly serve a large enterprise client base including leading international, regional and domestic companies as well as a strong base of more than 151,927 retail banking customers across the country.
    </p>
</main>